{
  "openapi" : "3.0.0",
  "servers" : [ {
    "url" : "https://api.iterable.com"
  } ],
  "info" : {
    "version" : "1.0.0",
    "title" : "Iterable API",
    "description" : "Iterable API",
    "contact" : {
      "email" : "idihya@webpick.info"
    },
    "termsOfService" : "https://iterable.com/terms-of-service/"
  },
  "tags" : [ {
    "name" : "In-app"
  }, {
    "name" : "SMS"
  }, {
    "name" : "campaigns"
  }, {
    "name" : "channels"
  }, {
    "name" : "commerce"
  }, {
    "name" : "email"
  }, {
    "name" : "events"
  }, {
    "name" : "experiments"
  }, {
    "name" : "export"
  }, {
    "name" : "lists"
  }, {
    "name" : "messageTypes"
  }, {
    "name" : "metadata"
  }, {
    "name" : "push"
  }, {
    "name" : "templates"
  }, {
    "name" : "users"
  }, {
    "name" : "webPush"
  }, {
    "name" : "webhooks"
  }, {
    "name" : "workflows"
  } ],
  "security" : [ {
    "apikey" : [ ]
  } ],
  "paths" : {
    "/api/messageTypes" : {
      "get" : {
        "tags" : [ "messageTypes" ],
        "summary" : "List message types",
        "description" : "List all message types within a project. <b>Rate limit</b>: 100 requests/second, per project.",
        "operationId" : "messageTypes",
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MessageTypesResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid parameters"
          },
          "401" : {
            "description" : "Invalid API key"
          }
        }
      }
    },
    "/api/users/update" : {
      "post" : {
        "tags" : [ "users" ],
        "summary" : "Update user data",
        "description" : "Update user data or adds a user if none exists. Data is merged - missing fields are not deleted. Please note there is a soft limit (default: 1,000) on the number of unique fields users can have. Types of data fields must match the types sent in previous requests, across all data fields in the project.<br><b>Rate limit</b>: 500 requests/second, per project.",
        "operationId" : "updateUser",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ApiUserUpdateRequest"
              }
            }
          },
          "description" : "user object",
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/IterableApiResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid parameters"
          },
          "401" : {
            "description" : "Invalid API key"
          }
        }
      }
    },
    "/api/users/byUserId" : {
      "get" : {
        "tags" : [ "users" ],
        "summary" : "Get a user by userId",
        "description" : "<b>Rate limit</b>: 3 requests/second, per project.",
        "operationId" : "getUser",
        "parameters" : [ {
          "name" : "userId",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UserResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid parameters"
          },
          "401" : {
            "description" : "Invalid API key"
          }
        }
      }
    },
    "/api/users/byUserId/{userId}" : {
      "get" : {
        "tags" : [ "users" ],
        "summary" : "Get a user by userId",
        "description" : "Get a user by your custom userId. <b>Rate limit</b>: 3 requests/second, per project.",
        "operationId" : "getUserByUserId",
        "parameters" : [ {
          "name" : "userId",
          "in" : "path",
          "description" : "userId",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UserResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid parameters"
          },
          "401" : {
            "description" : "Invalid API key"
          }
        }
      },
      "delete" : {
        "tags" : [ "users" ],
        "summary" : "Delete user by userId",
        "description" : "Delete user by a userId. This will delete multiple users if they happen to share the same userId.",
        "operationId" : "deleteUser",
        "parameters" : [ {
          "name" : "userId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/IterableApiResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid parameters"
          },
          "401" : {
            "description" : "Invalid API key"
          }
        }
      }
    },
    "/api/users/forgotten" : {
      "get" : {
        "tags" : [ "users" ],
        "summary" : "Get forgotten users in compliance with GDPR",
        "description" : "Get all user emails that are currently in the blacklist.<br><b>Rate limit</b>: 3 requests/second, per project.",
        "operationId" : "getForgottenUsers",
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GetForgottenUserEmailsResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid parameters"
          },
          "401" : {
            "description" : "Invalid API key"
          }
        }
      }
    },
    "/api/users/bulkUpdate" : {
      "post" : {
        "tags" : [ "users" ],
        "summary" : "Bulk update user data",
        "description" : "Bulk update user data. This will add the data if it doesn't exist yet. Data will be merged; missing fields are not deleted. Changing emailListIds, unsubscribedChannelIds, messageTypeIds through this endpoint will <b>NOT</b> generate unsubscribe events. However, the bulkUpdateSubscription will generate unsubscribe events. Also, note that there is a soft limit on the number of unique fields a user can have (default is 1,000). Types of data fields must match the types sent in previous requests, across all data fields in the project.<br>Note that bulk updates are processed separately from single-user calls (update, updateEmail, updateSubscriptions, etc). If the same user is modified using both bulk update and single-user calls made near the same time, the results may be inconsistent. It's important to use either only single-user calls or only bulk update calls around the same time for any given user.<br><b>Rate limit</b>: 10 requests/second, per project.",
        "operationId" : "bulkUpdateUser",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BulkUpdateUsersRequest"
              }
            }
          },
          "description" : "Users to update",
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid parameters"
          },
          "401" : {
            "description" : "Invalid API key"
          }
        }
      }
    },
    "/api/users/updateSubscriptions" : {
      "post" : {
        "tags" : [ "users" ],
        "summary" : "Update user subscriptions",
        "description" : "Update user subscriptions. <b>NOTE</b>: Overwrites existing data if the field is provided and not null.",
        "operationId" : "updateSubscriptions",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/UpdateSubscriptionsRequest"
              }
            }
          },
          "description" : "Subscriptions to update",
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/IterableApiResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid parameters"
          },
          "401" : {
            "description" : "Invalid API key"
          }
        }
      }
    },
    "/api/users/bulkUpdateSubscriptions" : {
      "post" : {
        "tags" : [ "users" ],
        "summary" : "Bulk update user subscriptions",
        "description" : "<b>WARNING</b>: This will overwrite (instead of merging) existing data if the provided fields are not null.",
        "operationId" : "bulkUpdateSubscriptions",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BulkUpdateSubscriptionsRequest"
              }
            }
          },
          "description" : "Bulk subscriptions to update",
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BulkUpdateSubscriptionsResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid parameters"
          },
          "401" : {
            "description" : "Invalid API key"
          }
        }
      }
    },
    "/api/users/updateEmail" : {
      "post" : {
        "tags" : [ "users" ],
        "summary" : "Update user email",
        "description" : "Change a user's email address. All profile data and events will be migrated to the new email address.",
        "operationId" : "updateEmail",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/UpdateEmailRequest"
              }
            }
          },
          "description" : "Update a user's email. All profile data and events will be migrated.",
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/IterableApiResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid parameters"
          },
          "401" : {
            "description" : "Invalid API key"
          }
        }
      }
    },
    "/api/users/getFields" : {
      "get" : {
        "tags" : [ "users" ],
        "summary" : "Get all user fields",
        "description" : "Get all user fields within a project. <b>Rate limit</b>: 3 requests/second, per project.",
        "operationId" : "getUserFields",
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GetUserFieldsResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid parameters"
          },
          "401" : {
            "description" : "Invalid API key"
          }
        }
      }
    },
    "/api/users/registerDeviceToken" : {
      "post" : {
        "tags" : [ "users" ],
        "summary" : "Register a device token for push",
        "description" : "Register a device token for push. This will add the data if it doesn't exist yet. It will also update data fields on the device. Data will be merged; missing fields are not deleted. Also, note that there is a soft limit on the number of unique fields a user can have (default is 1,000). Types of data fields must match the types sent in previous requests, across all data fields in the project.<br><b>Rate limit</b>: Not limited by default, but a sudden increase in the call rate by over 1000/sec may require us to set a rate limit for your API key. Please let us know if you expect a traffic spike.",
        "operationId" : "registerDeviceToken",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/RegisterDeviceTokenRequest"
              }
            }
          },
          "description" : "Request to register device",
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/IterableApiResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid parameters"
          },
          "401" : {
            "description" : "Invalid API key"
          }
        }
      }
    },
    "/api/users/registerBrowserToken" : {
      "post" : {
        "tags" : [ "users" ],
        "summary" : "Register a browser token for web push",
        "description" : "",
        "operationId" : "registerBrowserToken",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/RegisterBrowserTokenRequest"
              }
            }
          },
          "description" : "Request to register browser",
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/IterableApiResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid parameters"
          },
          "401" : {
            "description" : "Invalid API key"
          }
        }
      }
    },
    "/api/users/disableDevice" : {
      "post" : {
        "tags" : [ "users" ],
        "summary" : "Disable pushes to a mobile device",
        "description" : "Manually disable push notifications to a device until it comes online again.",
        "operationId" : "disableDevice",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/DisableDeviceRequest"
              }
            }
          },
          "description" : "Request to disable device"
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/IterableApiResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid parameters"
          },
          "401" : {
            "description" : "Invalid API key"
          }
        }
      }
    },
    "/api/users/getSentMessages" : {
      "get" : {
        "tags" : [ "users" ],
        "summary" : "Get messages sent to a user",
        "description" : "Get messages sent to a user by email address or user ID. Returns 10 by default, up to 1,000. <b>Rate limit</b>: 3 requests/second, per project.",
        "operationId" : "getSentMessages",
        "parameters" : [ {
          "name" : "email",
          "in" : "query",
          "description" : "user's email, either email or userId must be specified",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "userId",
          "in" : "query",
          "description" : "user's userId, either email or userId must be specified",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "max number of messages to return (default: 10, max limit: 1000)",
          "required" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 10
          }
        }, {
          "name" : "campaignId",
          "in" : "query",
          "description" : "only include messages from these campaigns",
          "required" : false,
          "explode" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "number"
            },
            "default" : "List.empty"
          }
        }, {
          "name" : "startDateTime",
          "in" : "query",
          "description" : "start date time (yyyy-MM-dd HH:mm:ss ZZ)",
          "required" : false,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "endDateTime",
          "in" : "query",
          "description" : "end date time (yyyy-MM-dd HH:mm:ss ZZ)",
          "required" : false,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "excludeBlastCampaigns",
          "in" : "query",
          "description" : "exclude results coming from blast campaigns (ignored if campaignId is set)",
          "required" : false,
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        }, {
          "name" : "messageMedium",
          "in" : "query",
          "description" : "only include messages of this type",
          "required" : false,
          "schema" : {
            "type" : "string",
            "enum" : [ "Email", "Push", "InApp", "SMS" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GetSentMessagesResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid parameters"
          },
          "401" : {
            "description" : "Invalid API key"
          }
        }
      }
    },
    "/api/users/{email}" : {
      "get" : {
        "tags" : [ "users" ],
        "summary" : "Get a user by email",
        "description" : "Get a user by their email address. <b>Rate limit</b>: 3 requests/second, per project.",
        "operationId" : "getUserByEmail",
        "parameters" : [ {
          "name" : "email",
          "in" : "path",
          "description" : "email",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UserResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid parameters"
          },
          "401" : {
            "description" : "Invalid API key"
          }
        }
      },
      "delete" : {
        "tags" : [ "users" ],
        "summary" : "Delete a user by email",
        "description" : "Delete a specific user by email address. <b>Rate limit</b>: 3 requests/second, per project.",
        "operationId" : "deleteUserByEmail",
        "parameters" : [ {
          "name" : "email",
          "in" : "path",
          "description" : "email",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/IterableApiResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid parameters"
          },
          "401" : {
            "description" : "Invalid API key"
          }
        }
      }
    },
    "/api/users/forget" : {
      "post" : {
        "tags" : [ "users" ],
        "summary" : "Forget a user in compliance with GDPR",
        "description" : "Add user to the forgotten users blacklist. Existing data is retained but new data for this user will be rejected.<br><b>Rate limit</b>: 3 requests/second, per project.",
        "operationId" : "forget",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/UserRequest"
              }
            }
          },
          "description" : "user's email to be added to blacklist.",
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/IterableApiResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid parameters"
          },
          "401" : {
            "description" : "Invalid API key"
          }
        }
      }
    },
    "/api/users/unforget" : {
      "post" : {
        "tags" : [ "users" ],
        "summary" : "Unforget a user in compliance with GDPR",
        "description" : "Remove user from forgotten users blacklist. New data for this user will now be accepted. Previously deleted data is unrecoverable.<br><b>Rate limit</b>: 3 requests/second, per project.",
        "operationId" : "unforget",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/UserRequest"
              }
            }
          },
          "description" : "user's email to be removed from blacklist.",
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/IterableApiResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid parameters"
          },
          "401" : {
            "description" : "Invalid API key"
          }
        }
      }
    },
    "/api/users/getByEmail" : {
      "get" : {
        "tags" : [ "users" ],
        "summary" : "Get a user by email",
        "description" : "<b>Rate limit</b>: 3 requests/second, per project.",
        "operationId" : "getUserByEmail2",
        "parameters" : [ {
          "name" : "email",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UserResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid parameters"
          },
          "401" : {
            "description" : "Invalid API key"
          }
        }
      }
    },
    "/api/email/viewInBrowser" : {
      "get" : {
        "tags" : [ "email" ],
        "summary" : "View a previously sent email",
        "description" : "View a rendered version of a previously sent email. <b>Rate limit</b>: 100 requests/second, per project.",
        "operationId" : "viewInBrowser",
        "parameters" : [ {
          "name" : "email",
          "in" : "query",
          "description" : "user's email",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "messageId",
          "in" : "query",
          "description" : "id of sent message",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "string"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid parameters"
          },
          "401" : {
            "description" : "Invalid API key"
          }
        }
      }
    },
    "/api/email/target" : {
      "post" : {
        "tags" : [ "email" ],
        "summary" : "Send an email to an email address",
        "description" : "Send an email to a specific email address. Request data fields will override user profile data fields. A reference to the user profile is provided via the 'profile' field, to help resolve field collisions.",
        "operationId" : "sendEmailToTarget",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/TargetEmailRequest"
              }
            }
          },
          "description" : "Recipient and email id",
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/IterableApiResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid parameters"
          },
          "401" : {
            "description" : "Invalid API key"
          }
        }
      }
    },
    "/api/metadata" : {
      "get" : {
        "tags" : [ "metadata" ],
        "summary" : "List available tables",
        "description" : "",
        "operationId" : "list tables",
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListMetadataTablesResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid parameters"
          },
          "401" : {
            "description" : "Invalid API key"
          }
        }
      }
    },
    "/api/metadata/{table}" : {
      "get" : {
        "tags" : [ "metadata" ],
        "summary" : "List keys in a table",
        "description" : "",
        "operationId" : "list",
        "parameters" : [ {
          "name" : "table",
          "in" : "path",
          "description" : "Table name [Alphanumeric, case insensitive]",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "nextMarker",
          "in" : "query",
          "description" : "next result set id; returned by previous search if more hits exist",
          "required" : false,
          "schema" : {
            "type" : "string",
            "default" : "None"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Listing"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid parameters"
          },
          "401" : {
            "description" : "Invalid API key"
          }
        }
      },
      "delete" : {
        "tags" : [ "metadata" ],
        "summary" : "Delete a table",
        "description" : "Asynchronous. Deletes the table. 200 response indicates a valid request that will be processed; table may not be deleted immediately. Use GET /api/metadata/{table} to verify completion.",
        "operationId" : "deleteMetadataTable",
        "parameters" : [ {
          "name" : "table",
          "in" : "path",
          "description" : "Table name [Alphanumeric, case insensitive]",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/IterableApiResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid parameters"
          },
          "401" : {
            "description" : "Invalid API key"
          }
        }
      }
    },
    "/api/metadata/{table}/{key}" : {
      "get" : {
        "tags" : [ "metadata" ],
        "summary" : "Get the metadata value of a single key",
        "description" : "",
        "operationId" : "get",
        "parameters" : [ {
          "name" : "table",
          "in" : "path",
          "description" : "Table name [Alphanumeric, case insensitive]",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "key",
          "in" : "path",
          "description" : "Metadata key [Alphanumeric, case sensitive]",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MetadataWithProperties"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid parameters"
          },
          "401" : {
            "description" : "Invalid API key"
          },
          "404" : {
            "description" : "No metadata at specified location"
          }
        }
      },
      "put" : {
        "tags" : [ "metadata" ],
        "summary" : "Create or replace metadata",
        "description" : "Asynchronous. Creates or replaces the item associated with the specified key. 200 response indicates a valid request that will be processed; updates may not be made immediately. Use GET /api/metadata/{table}/{key} to verify completion.",
        "operationId" : "put",
        "parameters" : [ {
          "name" : "table",
          "in" : "path",
          "description" : "Table name [Alphanumeric, case insensitive]",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "key",
          "in" : "path",
          "description" : "Metadata key [Alphanumeric, case sensitive]",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PutMetadataRequest"
              }
            }
          },
          "description" : "Metadata properties",
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/IterableApiResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid parameters"
          },
          "401" : {
            "description" : "Invalid API key"
          }
        }
      },
      "delete" : {
        "tags" : [ "metadata" ],
        "summary" : "Delete a single metadata key/value",
        "description" : "Asynchronous. Deletes the specified item from the table. 200 response indicates a valid request that will be processed; data may not be deleted immediately. Use GET /api/metadata/{table}/{key} to verify completion.",
        "operationId" : "deleteMetadataKey",
        "parameters" : [ {
          "name" : "table",
          "in" : "path",
          "description" : "Table name [Alphanumeric, case insensitive]",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "key",
          "in" : "path",
          "description" : "Metadata key [Alphanumeric, case sensitive]",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/IterableApiResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid parameters"
          },
          "401" : {
            "description" : "Invalid API key"
          }
        }
      }
    },
    "/api/webhooks" : {
      "get" : {
        "tags" : [ "webhooks" ],
        "summary" : "Get webhooks",
        "description" : "Get webhooks for a project.",
        "operationId" : "getWebhooks",
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GetWebhooksResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid parameters"
          },
          "401" : {
            "description" : "Invalid API key"
          }
        }
      },
      "post" : {
        "tags" : [ "webhooks" ],
        "summary" : "Update webhook",
        "description" : "",
        "operationId" : "updateWebhook",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ApiWebhookModel"
              }
            }
          },
          "description" : "Only the specified fields will be updated",
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiWebhookResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid parameters"
          },
          "401" : {
            "description" : "Invalid API key"
          }
        }
      }
    },
    "/api/campaigns/recurring/{id}/childCampaigns" : {
      "get" : {
        "tags" : [ "campaigns" ],
        "summary" : "Get child campaigns of a recurring campaign",
        "description" : "Get child campaigns generated by a recurring campaign. <b>Rate limit</b>: 100 requests/second, per project.",
        "operationId" : "child campaigns",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CampaignsResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid parameters"
          },
          "401" : {
            "description" : "Invalid API key"
          }
        }
      }
    },
    "/api/campaigns/metrics" : {
      "get" : {
        "tags" : [ "campaigns" ],
        "summary" : "Get metrics for campaigns",
        "description" : "Get metrics for a single campaign or multiple campaigns. <b>Rate limit</b>: 100 requests/second, per project.",
        "operationId" : "getCampaignMetrics",
        "parameters" : [ {
          "name" : "campaignId",
          "in" : "query",
          "description" : "Campaign(s) to export",
          "required" : true,
          "explode" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "number"
            }
          }
        }, {
          "name" : "startDateTime",
          "in" : "query",
          "description" : "Export starting from (>=).  Accepted formats include YYYY-MM-DD and other ISO 8601 formats.",
          "required" : false,
          "allowEmptyValue" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time",
            "default" : "2018-06-25"
          }
        }, {
          "name" : "endDateTime",
          "in" : "query",
          "description" : "Export ending at (<).  Accepted formats include YYYY-MM-DD and other ISO 8601 formats.",
          "required" : false,
          "allowEmptyValue" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time",
            "default" : "2018-07-25"
          }
        }, {
          "name" : "useNewFormat",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "boolean",
            "default" : true
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "string"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid parameters"
          },
          "401" : {
            "description" : "Invalid API key"
          }
        }
      }
    },
    "/api/campaigns" : {
      "get" : {
        "tags" : [ "campaigns" ],
        "summary" : "List campaign metadata",
        "description" : "Get metadata about a specific campaign. <b>Rate limit</b>: 100 requests/second, per project.",
        "operationId" : "campaigns",
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CampaignsResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid parameters"
          },
          "401" : {
            "description" : "Invalid API key"
          }
        }
      }
    },
    "/api/campaigns/trigger" : {
      "post" : {
        "tags" : [ "campaigns" ],
        "summary" : "Trigger a campaign",
        "description" : "Trigger a campaign given lists",
        "operationId" : "trigger campaign",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/TriggerCampaignRequest"
              }
            }
          },
          "description" : "Trigger campaign",
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/IterableApiResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid parameters"
          },
          "401" : {
            "description" : "Invalid API key"
          }
        }
      }
    },
    "/api/campaigns/create" : {
      "post" : {
        "tags" : [ "campaigns" ],
        "summary" : "Create a campaign",
        "description" : "Create a new campaign",
        "operationId" : "create campaign",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CreateCampaignRequest"
              }
            }
          },
          "description" : "Create campaign",
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CreateCampaignResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid parameters"
          },
          "401" : {
            "description" : "Invalid API key"
          }
        }
      }
    },
    "/api/sms/target" : {
      "post" : {
        "tags" : [ "SMS" ],
        "summary" : "Send SMS notification to user",
        "description" : "Send an SMS notification to a specific user. Note that this API is typically used for transactional messaging. Request data fields will override user profile data fields.A reference to the user profile is provided via the 'profile' field, to help resolve field collisions.",
        "operationId" : "sendSMSToTarget",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/TargetSMSRequest"
              }
            }
          },
          "description" : "Recipient and email ID",
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/IterableApiResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid parameters"
          },
          "401" : {
            "description" : "Invalid API key"
          }
        }
      }
    },
    "/api/workflows/triggerWorkflow" : {
      "post" : {
        "tags" : [ "workflows" ],
        "summary" : "Trigger a workflow",
        "description" : "Trigger a workflow. Triggering with a list is asynchronous. If a list trigger is in progress, it must finish before the same list can be triggered again for a particular workflow. The workflow stats may take several minutes to update if other workflows are running.",
        "operationId" : "triggerWorkflow",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/TriggerWorkflowRequest"
              }
            }
          },
          "description" : "Trigger workflow request",
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/IterableApiResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid parameters"
          },
          "401" : {
            "description" : "Invalid API key"
          }
        }
      }
    },
    "/api/channels" : {
      "get" : {
        "tags" : [ "channels" ],
        "summary" : "Get channels",
        "description" : "Get all message channels within the project. <b>Rate limit</b>: 100 requests/second, per project.",
        "operationId" : "channels",
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ChannelsResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid parameters"
          },
          "401" : {
            "description" : "Invalid API key"
          }
        }
      }
    },
    "/api/push/target" : {
      "post" : {
        "tags" : [ "push" ],
        "summary" : "Send push notification to user",
        "description" : "Send a push notification to a specific user. Request data fields will override user profile data fields. A reference to the user profile is provided via the 'profile' field, to help resolve field collisions.",
        "operationId" : "sendPushToTarget",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/TargetPushRequest"
              }
            }
          },
          "description" : "Recipient and email id",
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/IterableApiResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid parameters"
          },
          "401" : {
            "description" : "Invalid API key"
          }
        }
      }
    },
    "/api/webPush/target" : {
      "post" : {
        "tags" : [ "webPush" ],
        "summary" : "Send web push notification to user",
        "description" : "Send a web push notification to a specific user. Request data fields will override user profile data fields. A reference to the user profile is provided via the 'profile' field, to help resolve field collisions.",
        "operationId" : "sendWebPushToTarget",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/TargetWebPushRequest"
              }
            }
          },
          "description" : "Recipient and email id",
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/IterableApiResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid parameters"
          },
          "401" : {
            "description" : "Invalid API key"
          }
        }
      }
    },
    "/api/lists" : {
      "get" : {
        "tags" : [ "lists" ],
        "summary" : "Get lists",
        "description" : "Get all lists within a project. <b>Rate limit</b>: 100 requests/second, per project.",
        "operationId" : "getLists",
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GetListsResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid parameters"
          },
          "401" : {
            "description" : "Invalid API key"
          }
        }
      },
      "post" : {
        "tags" : [ "lists" ],
        "summary" : "Create a static list",
        "description" : "Create a new static list.",
        "operationId" : "create",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CreateListRequest"
              }
            }
          },
          "description" : "name",
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CreateListResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid parameters"
          },
          "401" : {
            "description" : "Invalid API key"
          }
        }
      }
    },
    "/api/lists/getUsers" : {
      "get" : {
        "tags" : [ "lists" ],
        "summary" : "Get users in a list",
        "description" : "Get all users within a list. <b>Rate limit</b>: 5 requests/minute, per project.",
        "operationId" : "getListUsers",
        "parameters" : [ {
          "name" : "listId",
          "in" : "query",
          "description" : "list id",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "string"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid parameters"
          },
          "401" : {
            "description" : "Invalid API key"
          }
        }
      }
    },
    "/api/lists/{listId}/size" : {
      "get" : {
        "tags" : [ "lists" ],
        "summary" : "Get count of users in list",
        "description" : "Get the number of users within a list. <b>Rate limit</b>: 5 requests/minute, per project.",
        "operationId" : "getListCount",
        "parameters" : [ {
          "name" : "listId",
          "in" : "path",
          "description" : "list id",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "string"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid parameters"
          },
          "401" : {
            "description" : "Invalid API key"
          }
        }
      }
    },
    "/api/lists/subscribe" : {
      "post" : {
        "tags" : [ "lists" ],
        "summary" : "Add subscribers to list",
        "description" : "Add specific subscribers to a list.",
        "operationId" : "subscribe",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/SubscribeRequest"
              }
            }
          },
          "description" : "email list id and list of emails",
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid parameters"
          },
          "401" : {
            "description" : "Invalid API key"
          }
        }
      }
    },
    "/api/lists/unsubscribe" : {
      "post" : {
        "tags" : [ "lists" ],
        "summary" : "Remove users from a list",
        "description" : "Remove specific users from a list.",
        "operationId" : "unsubscribe",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/UnsubscribeRequest"
              }
            }
          },
          "description" : "email list id and list of emails",
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid parameters"
          },
          "401" : {
            "description" : "Invalid API key"
          }
        }
      }
    },
    "/api/lists/{listId}" : {
      "delete" : {
        "tags" : [ "lists" ],
        "summary" : "Delete a static list",
        "description" : "Delete a static list by listId.",
        "operationId" : "deleteStaticList",
        "parameters" : [ {
          "name" : "listId",
          "in" : "path",
          "description" : "list id",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/IterableApiResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid parameters"
          },
          "401" : {
            "description" : "Invalid API key"
          }
        }
      }
    },
    "/api/inApp/getMessages" : {
      "get" : {
        "tags" : [ "In-app" ],
        "summary" : "Get in-app messages for user",
        "description" : "Get in-app messages for displaying to a user on mobile or web.",
        "operationId" : "getMessages",
        "parameters" : [ {
          "name" : "email",
          "in" : "query",
          "description" : "email of user to get messages for. Either email or userId must be specified",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "userId",
          "in" : "query",
          "description" : "userId of user to get message for.",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "count",
          "in" : "query",
          "description" : "Number of messages to fetch",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiInAppMessagesResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid parameters"
          },
          "401" : {
            "description" : "Invalid API key"
          }
        }
      }
    },
    "/api/templates" : {
      "get" : {
        "tags" : [ "templates" ],
        "summary" : "Get templates",
        "description" : "Get templates for a project. <b>Rate limit</b>: 100 requests/second, per project.",
        "operationId" : "getTemplates",
        "parameters" : [ {
          "name" : "templateType",
          "in" : "query",
          "description" : "Only retrieve templates associated with this template type",
          "required" : false,
          "schema" : {
            "type" : "string",
            "enum" : [ "Base", "Blast", "Triggered", "Workflow" ]
          }
        }, {
          "name" : "messageMedium",
          "in" : "query",
          "description" : "Only retrieve templates associated with this message medium",
          "required" : false,
          "schema" : {
            "type" : "string",
            "enum" : [ "Email", "Push", "InApp", "SMS" ]
          }
        }, {
          "name" : "startDateTime",
          "in" : "query",
          "description" : "Get templates created at or after this date time (yyyy-MM-dd HH:mm:ss [ZZ])",
          "required" : false,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "endDateTime",
          "in" : "query",
          "description" : "Get templates created before this date time (yyyy-MM-dd HH:mm:ss [ZZ])",
          "required" : false,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GetTemplatesResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid parameters"
          },
          "401" : {
            "description" : "Invalid API key"
          }
        }
      }
    },
    "/api/templates/getByClientTemplateId" : {
      "get" : {
        "tags" : [ "templates" ],
        "summary" : "Get an email template by Client Template ID",
        "description" : "<b>Rate limit</b>: 100 requests/second, per project.",
        "operationId" : "getByClientTemplateId",
        "parameters" : [ {
          "name" : "clientTemplateId",
          "in" : "query",
          "description" : "Client Template Id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ClientTemplateIdResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid parameters"
          },
          "401" : {
            "description" : "Invalid API key"
          }
        }
      }
    },
    "/api/templates/email/get" : {
      "get" : {
        "tags" : [ "templates" ],
        "summary" : "Get an email template by templateId",
        "description" : "<b>Rate limit</b>: 100 requests/second, per project.",
        "operationId" : "getEmailTemplate",
        "parameters" : [ {
          "name" : "templateId",
          "in" : "query",
          "description" : "Template ID",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        }, {
          "name" : "locale",
          "in" : "query",
          "description" : "Locale of content to get",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiEmailTemplateModel"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid parameters"
          },
          "401" : {
            "description" : "Invalid API key"
          },
          "404" : {
            "description" : "Content does not exit for specified locale"
          }
        }
      }
    },
    "/api/templates/email/upsert" : {
      "post" : {
        "tags" : [ "templates" ],
        "summary" : "Create email template",
        "description" : "Create email template if it doesn't exist already, otherwise update all email templates which match the name provided.",
        "operationId" : "upsertEmailTemplate",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/UpsertEmailTemplateModel"
              }
            }
          },
          "description" : "Only the fields specified will be updated",
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/IterableApiResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid parameters"
          },
          "401" : {
            "description" : "Invalid API key"
          }
        }
      }
    },
    "/api/templates/email/update" : {
      "post" : {
        "tags" : [ "templates" ],
        "summary" : "Update email template",
        "description" : "",
        "operationId" : "updateEmailTemplate",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ApiEmailTemplateModel"
              }
            }
          },
          "description" : "Only the fields specified will be updated",
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/IterableApiResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid parameters"
          },
          "401" : {
            "description" : "Invalid API key"
          }
        }
      }
    },
    "/api/templates/push/get" : {
      "get" : {
        "tags" : [ "templates" ],
        "summary" : "Get a push template",
        "description" : "<b>Rate limit</b>: 100 requests/second, per project.",
        "operationId" : "getPushTemplate",
        "parameters" : [ {
          "name" : "templateId",
          "in" : "query",
          "description" : "Template ID",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        }, {
          "name" : "locale",
          "in" : "query",
          "description" : "Locale of content to get",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiPushTemplateModel"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid parameters"
          },
          "401" : {
            "description" : "Invalid API key"
          },
          "404" : {
            "description" : "Content does not exit for specified locale"
          }
        }
      }
    },
    "/api/templates/push/upsert" : {
      "post" : {
        "tags" : [ "templates" ],
        "summary" : "Create a push template",
        "description" : "Create a push template if it doesn't exist, otherwise update all push templates which match the name provided.",
        "operationId" : "upsertPushTemplate",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/UpsertPushTemplateModel"
              }
            }
          },
          "description" : "Only the fields specified will be updated",
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/IterableApiResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid parameters"
          },
          "401" : {
            "description" : "Invalid API key"
          }
        }
      }
    },
    "/api/templates/push/update" : {
      "post" : {
        "tags" : [ "templates" ],
        "summary" : "Update push template",
        "description" : "",
        "operationId" : "updatePushTemplate",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ApiPushTemplateModel"
              }
            }
          },
          "description" : "Only the fields specified will be updated",
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/IterableApiResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid parameters"
          },
          "401" : {
            "description" : "Invalid API key"
          }
        }
      }
    },
    "/api/templates/sms/get" : {
      "get" : {
        "tags" : [ "templates" ],
        "summary" : "Get an SMS template",
        "description" : "<b>Rate limit</b>: 100 requests/second, per project.",
        "operationId" : "getSMSTemplate",
        "parameters" : [ {
          "name" : "templateId",
          "in" : "query",
          "description" : "Template ID",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        }, {
          "name" : "locale",
          "in" : "query",
          "description" : "Locale of content to get",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiSMSTemplateModel"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid parameters"
          },
          "401" : {
            "description" : "Invalid API key"
          },
          "404" : {
            "description" : "Content does not exit for specified locale"
          }
        }
      }
    },
    "/api/templates/sms/upsert" : {
      "post" : {
        "tags" : [ "templates" ],
        "summary" : "Create an SMS template",
        "description" : "Create an SMS template if it doesn't exist yet, otherwise update all SMS templates which match the name provided.",
        "operationId" : "upsertSMSTemplate",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/UpsertSMSTemplateModel"
              }
            }
          },
          "description" : "Only the fields specified will be updated",
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/IterableApiResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid parameters"
          },
          "401" : {
            "description" : "Invalid API key"
          }
        }
      }
    },
    "/api/templates/sms/update" : {
      "post" : {
        "tags" : [ "templates" ],
        "summary" : "Update SMS template",
        "description" : "",
        "operationId" : "updateSMSTemplate",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ApiSMSTemplateModel"
              }
            }
          },
          "description" : "Only the fields specified will be updated",
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/IterableApiResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid parameters"
          },
          "401" : {
            "description" : "Invalid API key"
          }
        }
      }
    },
    "/api/events/trackBulk" : {
      "post" : {
        "tags" : [ "events" ],
        "summary" : "Bulk track events",
        "description" : "Events are created asynchronously and <b>processed separately from single event (non-bulk) endpoint</b>. Thus, if you need to make sure events are tracked in order, it is recommended that all of them are sent to the same endpoint (either bulk or non-bulk). <br /> Please note there is a soft limit (default is 8,000) on the number of unique fields a custom event can have. Types of data fields must match the types sent in previous requests, across all data fields in the project.<br/><b>Rate limit</b>: 10 requests/second, per project.",
        "operationId" : "trackBulk",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BulkTrackRequest"
              }
            }
          },
          "description" : "Events to track",
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BulkTrackResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid parameters"
          },
          "401" : {
            "description" : "Invalid API key"
          }
        }
      }
    },
    "/api/events/trackWebPushClick" : {
      "post" : {
        "tags" : [ "events" ],
        "summary" : "Track a web push click",
        "description" : "",
        "operationId" : "trackWebPushClick",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/WebPushClickEventRequest"
              }
            }
          },
          "description" : "Web Push click to track",
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/IterableApiResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid parameters"
          },
          "401" : {
            "description" : "Invalid API key"
          }
        }
      }
    },
    "/api/events/trackPushOpen" : {
      "post" : {
        "tags" : [ "events" ],
        "summary" : "Track a mobile push open",
        "description" : "",
        "operationId" : "trackPushOpen",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/TrackPushOpenRequest"
              }
            }
          },
          "description" : "Push open to track",
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/IterableApiResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid parameters"
          },
          "401" : {
            "description" : "Invalid API key"
          }
        }
      }
    },
    "/api/events/trackInAppOpen" : {
      "post" : {
        "tags" : [ "events" ],
        "summary" : "Track an in-app open",
        "description" : "",
        "operationId" : "trackInAppOpen",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/InAppEventRequest"
              }
            }
          },
          "description" : "In-app open to track",
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/IterableApiResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid parameters"
          },
          "401" : {
            "description" : "Invalid API key"
          }
        }
      }
    },
    "/api/events/trackInAppClick" : {
      "post" : {
        "tags" : [ "events" ],
        "summary" : "Track an in-app click",
        "description" : "",
        "operationId" : "trackInAppClick",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/InAppClickRequest"
              }
            }
          },
          "description" : "In-app click to track",
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/IterableApiResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid parameters"
          },
          "401" : {
            "description" : "Invalid API key"
          }
        }
      }
    },
    "/api/events/inAppConsume" : {
      "post" : {
        "tags" : [ "events" ],
        "summary" : "Consume an in-app notification",
        "description" : "",
        "operationId" : "inAppConsume",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/InAppEventRequest"
              }
            }
          },
          "description" : "In-app notification to consume",
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/IterableApiResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid parameters"
          },
          "401" : {
            "description" : "Invalid API key"
          }
        }
      }
    },
    "/api/events/{email}" : {
      "get" : {
        "tags" : [ "events" ],
        "summary" : "Get user events",
        "description" : "Get events for a specific user. <b>Rate limit</b>: 100 requests/second, per project.",
        "operationId" : "User events",
        "parameters" : [ {
          "name" : "email",
          "in" : "path",
          "description" : "Email of the user whose events you are retrieving.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "The number of events to retrieve.  (Max is 200)",
          "required" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "minimum" : 1,
            "maximum" : 200,
            "default" : 30
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GetEventsResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid parameters"
          },
          "401" : {
            "description" : "Invalid API key"
          }
        }
      }
    },
    "/api/events/track" : {
      "post" : {
        "tags" : [ "events" ],
        "summary" : "Track an event",
        "description" : "Events are created asynchronously and <b>processed separately from single event (non-bulk) endpoint</b>. Thus, if you need to make sure events are tracked in order, it is recommended that all of them are sent to the same endpoint (either bulk or non-bulk). <br/>Please note there is a soft limit (default is 8,000) on the number of unique fields a custom event can have. Types of data fields must match the types sent in previous requests, across all data fields in the project.<br/><b>Rate limit</b>: 2000 requests/second, per project.",
        "operationId" : "track",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/TrackRequest"
              }
            }
          },
          "description" : "Event to track",
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/IterableApiResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid parameters"
          },
          "401" : {
            "description" : "Invalid API key"
          }
        }
      }
    },
    "/api/experiments/metrics" : {
      "get" : {
        "tags" : [ "experiments" ],
        "summary" : "Get metrics for experiments",
        "description" : "Get metrics for a single experiment or for multiple experiments. Note that we currently only support exporting email experiment metrics.",
        "operationId" : "getExperimentMetrics",
        "parameters" : [ {
          "name" : "experimentId",
          "in" : "query",
          "description" : "Experiment to export. Specify multiple experimentId query parameters to export multiple experiments.",
          "required" : false,
          "explode" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "number"
            }
          }
        }, {
          "name" : "campaignId",
          "in" : "query",
          "description" : "Campaign whose experiments you want to export. Specify multiple campaignId query parameters to export multiple campaigns.",
          "required" : false,
          "explode" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "number"
            }
          }
        }, {
          "name" : "startDateTime",
          "in" : "query",
          "description" : "export starting from (>=)",
          "required" : false,
          "schema" : {
            "type" : "string",
            "format" : "date-time",
            "default" : "2018-06-25"
          }
        }, {
          "name" : "endDateTime",
          "in" : "query",
          "description" : "export ending at (<=)",
          "required" : false,
          "schema" : {
            "type" : "string",
            "format" : "date-time",
            "default" : "2018-07-25"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "text/csv" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ExperimentMetricsResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid parameters"
          },
          "401" : {
            "description" : "Invalid API key"
          }
        }
      }
    },
    "/api/inApp/target" : {
      "post" : {
        "tags" : [ "In-app" ],
        "summary" : "Send an in-app notification to a user",
        "description" : "Send an in-app notification to a specific user. Request data fields will override user profile data fields. A reference to the user profile is provided via the 'profile' field, to help resolve field collisions.",
        "operationId" : "sendInAppToTarget",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/TargetInAppRequest"
              }
            }
          },
          "description" : "Recipient and email id",
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/IterableApiResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid parameters"
          },
          "401" : {
            "description" : "Invalid API key"
          }
        }
      }
    },
    "/api/export/data.csv" : {
      "get" : {
        "tags" : [ "export" ],
        "summary" : "Export data to CSV",
        "description" : "Export campaign analytics data in CSV format. Use of either 'range' or 'startDateTime' and 'endDateTime' is required.<br/><b>Rate limit</b>: 4 requests/minute, per project.",
        "operationId" : "exportDataCsv",
        "parameters" : [ {
          "name" : "dataTypeName",
          "in" : "query",
          "description" : "data type name",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "emailSend", "emailOpen", "emailClick", "hostedUnsubscribeClick", "emailComplaint", "emailBounce", "emailSendSkip", "pushSend", "pushOpen", "pushUninstall", "pushBounce", "pushSendSkip", "inAppSend", "inAppOpen", "inAppClick", "inAppSendSkip", "smsSend", "smsBounce", "smsReceived", "smsSendSkip", "webPushSend", "webPushClick", "webPushSendSkip", "emailSubscribe", "emailUnSubscribe", "purchase", "customEvent", "user" ]
          }
        }, {
          "name" : "range",
          "in" : "query",
          "description" : "date range, uses UTC time",
          "required" : false,
          "schema" : {
            "type" : "string",
            "enum" : [ "Today", "Yesterday", "BeforeToday", "All" ],
            "default" : "Today"
          }
        }, {
          "name" : "delimiter",
          "in" : "query",
          "description" : "CSV filter delimiter",
          "required" : false,
          "schema" : {
            "type" : "string",
            "default" : ","
          }
        }, {
          "name" : "startDateTime",
          "in" : "query",
          "description" : "Export starting from (>=) (yyyy-MM-dd HH:mm:ss [ZZ])",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "endDateTime",
          "in" : "query",
          "description" : "Export ending at (<) (yyyy-MM-dd HH:mm:ss [ZZ])",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "omitFields",
          "in" : "query",
          "description" : "Fields to omit (comma separated)",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "onlyFields",
          "in" : "query",
          "description" : "If non-empty, will only export these fields",
          "required" : false,
          "explode" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            },
            "default" : "List.empty"
          }
        }, {
          "name" : "campaignId",
          "in" : "query",
          "description" : "If provided, only export data from this campaign",
          "required" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int64",
            "default" : "None"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "text/csv" : {
                "schema" : {
                  "type" : "string"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid parameters"
          },
          "401" : {
            "description" : "Invalid API key"
          },
          "429" : {
            "description" : "Rate limit exceeded"
          }
        }
      }
    },
    "/api/export/data.json" : {
      "get" : {
        "tags" : [ "export" ],
        "summary" : "Export data to JSON",
        "description" : "Export campaign analytics data in JSON format, one entry per line. Use of either 'range' or 'startDateTime' and 'endDateTime' is required.<br/><b>Rate limit</b>: 4 requests/minute, per project.",
        "operationId" : "exportDataJson",
        "parameters" : [ {
          "name" : "dataTypeName",
          "in" : "query",
          "description" : "data type name",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "emailSend", "emailOpen", "emailClick", "hostedUnsubscribeClick", "emailComplaint", "emailBounce", "emailSendSkip", "pushSend", "pushOpen", "pushUninstall", "pushBounce", "pushSendSkip", "inAppSend", "inAppOpen", "inAppClick", "inAppSendSkip", "smsSend", "smsBounce", "smsReceived", "smsSendSkip", "webPushSend", "webPushClick", "webPushSendSkip", "emailSubscribe", "emailUnSubscribe", "purchase", "customEvent", "user" ]
          }
        }, {
          "name" : "range",
          "in" : "query",
          "description" : "date range, uses UTC time",
          "required" : false,
          "schema" : {
            "type" : "string",
            "enum" : [ "Today", "Yesterday", "BeforeToday", "All" ],
            "default" : "Today"
          }
        }, {
          "name" : "startDateTime",
          "in" : "query",
          "description" : "export starting from (&gt;=) (yyyy-MM-dd HH:mm:ss [ZZ])",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "endDateTime",
          "in" : "query",
          "description" : "export ending at (&lt;) (yyyy-MM-dd HH:mm:ss [ZZ])",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "omitFields",
          "in" : "query",
          "description" : "fields to omit (comma separated)",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "onlyFields",
          "in" : "query",
          "description" : "if nonempty, will only export these fields",
          "required" : false,
          "explode" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            },
            "default" : "List.empty"
          }
        }, {
          "name" : "campaignId",
          "in" : "query",
          "description" : "if provided, only export data from this campaign",
          "required" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int64",
            "default" : " "
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/x-json-stream" : {
                "schema" : {
                  "type" : "string"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid parameters"
          },
          "401" : {
            "description" : "Invalid API key"
          },
          "429" : {
            "description" : "Rate limit exceeded"
          }
        }
      }
    },
    "/api/export/userEvents" : {
      "get" : {
        "tags" : [ "export" ],
        "summary" : "Export user events",
        "description" : "Export all events in JSON format for a user. One event per line.",
        "operationId" : "exportUserEventsJson",
        "parameters" : [ {
          "name" : "email",
          "in" : "query",
          "description" : "email",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "includeCustomEvents",
          "in" : "query",
          "description" : "Include Custom Events",
          "required" : false,
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/x-json-stream" : {
                "schema" : {
                  "type" : "string"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid parameters"
          },
          "401" : {
            "description" : "Invalid API key"
          },
          "429" : {
            "description" : "Rate limit exceeded"
          }
        }
      }
    },
    "/api/commerce/updateCart" : {
      "post" : {
        "tags" : [ "commerce" ],
        "summary" : "Update user 'shoppingCartItems'",
        "description" : "Update the 'shoppingCartItems' field on the user profile with shopping cart items. User profile is updated if it already exists (created otherwise) via the user field. Types of data fields must match the types sent in previous requests, across all data fields in the project.",
        "operationId" : "updateCart",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/UpdateCartRequest"
              }
            }
          },
          "description" : "state of the cart",
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/IterableApiResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid parameters"
          },
          "401" : {
            "description" : "Invalid API key"
          }
        }
      }
    },
    "/api/commerce/trackPurchase" : {
      "post" : {
        "tags" : [ "commerce" ],
        "summary" : "Track a purchase",
        "description" : "Track purchase events. 'shoppingCartItems' field on the user profile is cleared. User profile is also updated if it already exists (created otherwise) using the user request field. Also, note that there is a soft limit on the number of unique fields a user can have (default is 1,000). Types of data fields must match the types sent in previous requests, across all data fields in the project.",
        "operationId" : "trackPurchase",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/TrackPurchaseRequest"
              }
            }
          },
          "description" : "purchase data",
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/IterableApiResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid parameters"
          },
          "401" : {
            "description" : "Invalid API key"
          }
        }
      }
    }
  },
  "components" : {
    "securitySchemes" : {
      "apikey" : {
        "type" : "apiKey",
        "name" : "Api_Key",
        "in" : "header"
      }
    },
    "schemas" : {
      "MessageTypeDetails" : {
        "type" : "object",
        "required" : [ "channelId", "id", "name" ],
        "properties" : {
          "id" : {
            "type" : "integer",
            "format" : "int64"
          },
          "name" : {
            "type" : "string"
          },
          "channelId" : {
            "type" : "integer",
            "format" : "int64",
            "description" : "Channel that this message type belongs to"
          }
        }
      },
      "MessageTypesResponse" : {
        "type" : "object",
        "required" : [ "messageTypes" ],
        "properties" : {
          "messageTypes" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/MessageTypeDetails"
            }
          }
        }
      },
      "IterableApiResponse" : {
        "type" : "object",
        "required" : [ "code", "msg" ],
        "properties" : {
          "msg" : {
            "type" : "string",
            "description" : "Response description"
          },
          "code" : {
            "type" : "string",
            "enum" : [ "Success", "BadApiKey", "BadParams", "BadJsonBody", "QueueEmailError", "GenericError", "InvalidEmailAddressError", "DatabaseError", "EmailAlreadyExists" ]
          },
          "params" : {
            "type" : "object",
            "description" : "Additional info"
          }
        }
      },
      "ApiUserUpdateRequest" : {
        "type" : "object",
        "properties" : {
          "email" : {
            "type" : "string",
            "description" : "Either email or userId must be passed in to identify the user. If both are passed in, email takes precedence."
          },
          "dataFields" : {
            "type" : "object",
            "description" : "Data fields to store in the user profile"
          },
          "userId" : {
            "type" : "string",
            "description" : "Optional userId, typically your database generated id. Either email or userId must be specified."
          },
          "preferUserId" : {
            "type" : "boolean",
            "example" : false,
            "description" : "Create a new user with the specified userId if the user does not exist yet."
          },
          "mergeNestedObjects" : {
            "type" : "boolean",
            "example" : false,
            "description" : "Merge top level objects instead of overwriting (default: false). e.g. if user profile has data: {mySettings:{mobile:true}} and change contact field has data: {mySettings:{email:true}}, the resulting profile: {mySettings:{mobile:true,email:true}}"
          }
        }
      },
      "ApiUser" : {
        "type" : "object",
        "required" : [ "email" ],
        "properties" : {
          "email" : {
            "type" : "string"
          },
          "dataFields" : {
            "type" : "object"
          },
          "userId" : {
            "type" : "string"
          },
          "mergeNestedObjects" : {
            "type" : "number"
          }
        }
      },
      "UserResponse" : {
        "type" : "object",
        "properties" : {
          "user" : {
            "$ref" : "#/components/schemas/ApiUser"
          }
        }
      },
      "GetForgottenUserEmailsResponse" : {
        "type" : "object",
        "required" : [ "emails" ],
        "properties" : {
          "emails" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }
      },
      "ListResponse" : {
        "type" : "object",
        "required" : [ "failCount", "successCount" ],
        "properties" : {
          "successCount" : {
            "type" : "integer",
            "format" : "int32"
          },
          "failCount" : {
            "type" : "integer",
            "format" : "int32"
          },
          "invalidEmails" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "invalidUserIds" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }
      },
      "BulkUpdateUsersRequest" : {
        "type" : "object",
        "required" : [ "users" ],
        "properties" : {
          "users" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/OptionalApiUser"
            }
          }
        }
      },
      "OptionalApiUser" : {
        "type" : "object",
        "properties" : {
          "email" : {
            "type" : "string",
            "description" : "An email must be set unless a profile already exists with a userId set. In which case, a lookup from userId to email is performed."
          },
          "dataFields" : {
            "type" : "object"
          },
          "userId" : {
            "type" : "string",
[...]
